body {
  display: flex;
  justify-content: center;
  background-color: #a5bde3;
}

h1 {
  text-align: center;
}
.task {
  background-color: #6e92d7;
  padding: 5px 5px;
  margin: 5px 0px;
  border-radius: 5px;
  position: relative;
}

.del {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 5;
}
p {
  margin: 0;
}
